<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Todo application</title>
    <!-- todo Check if i need this-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<!--
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Todo</a>
</nav>-->
<h1>Todo</h1>
<main role="main" class="container">

    
    <div>
        <form th:action="@{/home}" th:object="${todo}" method="post" id="newTodo">
        <h2>Nieuwe todo</h2>
               <table class="table">
            <thead>
                <tr>
                    <td>Status</td>
                    <td>Todo</td>
                    <td>Prioriteit</td>
                    <td>Eind datum</td>
                </tr>
            </thead>
        <tr>
            <td>
                <select th:field="*{status}" name="status">
                    <option value="OPEN">Open</option>
                    <option value="IN_PROGRESS">Bezig</option>
                    <option value="CLOSED">Klaar</option>
                </select>
            </td>
            <td>
                <input th:field="*{title}" type="text" required/>
                       
            </td>
            <td>
                <select th:field="*{priority}" >
                    <option value="LOW">Laag</option>
                    <option value="MEDIUM">Medium</option>
                    <option value="HIGH">Hoog</option>
                </select>
            </td>
            <td>
                <input th:field="*{endDate}" type="date" required></input>
            </td>
        </tr>
        
        </table>
        <button type="submit" form="newTodo" value="Submit">Opslaan</button>
        </form>

    </div>
    <br/><br/>
    <h2>Todo's</h2>
        <table class="table">
            <form action="#" id="todoForm">
            <thead>
                <tr>
                    <td>Status</td>
                    <td>Todo</td>
                    <td>Prioriteit</td>
                    <td>Eind datum</td>
                </tr>
            </thead>
        <tr th:each="todo : ${todos}">
            <td>
                <select th:attr="data-id=${todo.id}" data-form="form-field" th:name="|todos[__${todo.id}__].status|" >
                    <option value="OPEN">Open</option>
                    <option value="IN_PROGRESS">Bezig</option>
                    <option value="CLOSED">Klaar</option>
                </select>
            </td>
            <td>
                <input th:attr="data-id=${todo.id}" data-form="form-field" th:name="|todos[__${todo.id}__].title|"  type="text" th:value="${todo.title}"></input>
            </td>
            <td>
                <select th:attr="data-id=${todo.id}" data-form="form-field"  th:name="|todos[__${todo.id}__].priority|" >
                    <option value="LOW">Laag</option>
                    <option value="MEDIUM">Medium</option>
                    <option value="HIGH">Hoog</option>
                </select>
            </td>
            <td>
                <input th:attr="data-id=${todo.id}" data-form="form-field" type="date" th:name="|todos[__${todo.id}__].endDate|" th:value="${todo.endDate}" ></input>
            </td>
            <td><span th:attr="data-id=${todo.id}" class="glyphicon glyphicon-search" aria-hidden="true">X</span></td>
        </tr>
            </form>
        </table>

</main>
<!-- /.container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js" crossorigin="anonymous"></script>
<script src="/js/formChangeListener.js"> </script>
<script src="/js/todo.js"/></script>

</body>
</html>